---
swagger: '2.0'

info:
  title: Linked Events information API
  description: |-
      Linked Events provides categorized data on events and places
      
      In the API, you can search data by date or location as well as city neighborhoods.
      
      The API provides data in JSON-LD format.
  termsOfService: (depends on data provider)
  version: 0.0.1
  
host: api.hel.fi
basePath: /linkedevents/v0.1

schemes:
  - http
  
produces:
  - application/json

definitions:

  meta_definition:
    description: Meta record describing paginition usw.
    type: object
    properties:
      count:
        description: Total amount of items found
        type: integer
      next:
        description: URL for the next page of items
        type: string
        format: url
      previous:
        description: URL for the previous page of items
        type: string
        format: url

  info_url_definition:
    description: URL to page with more information
    type: object
    properties:
      fi:
        description: URL for Finnish page
        type: string
        format: url
      se:
        description: URL for Swedish page
        type: string
        format: url
      en:
        description: URL to English page
        type: string
        format: url

  place:
    type: object
    properties:
      id:
        type: string
        description: Consists of source prefix and source specific identifier
      custom_data:
        type: string
        description: ''
      name:
        type: object
        properties:
          fi:
            type: string
            description: place name in Finnish
          sv:
            type: string
            description: place name in Swedish
          en:
            type: string
            description: place name in English
      image:
        type: string
        description: ''
      origin_id:
        type: string
        description: place identifier in the originating system
      created_time:
        type: string
        format: date-time
        description: ''
      last_modified_time:
        type: string
        format: date-time
        description: ''
      # No examples of the translated representation, probably same as with other multilingual fields.
      info_url:
        $ref: '#/definitions/info_url_definition'
      description:
        type: object
        properties:
          fi:
            type: string
            description: place description in Finnish
          sv:
            type: string
            description: place description in Swedish
          en:
            type: string
            description: place description in English
      position:
      # FIXME: reference GeoJSON (no official schema available)
        description: geographic position of the place
        type: object
        properties:
          coordinates:
            type: array
            items:
              type: number
            description: coordinates as specified by type property
          type:
            description: interpretation of the coordinates property
            type: string
            enum:
            - Point
      email:
        type: string
        description: ''
      # Telephone would be object per language as well?
      telephone:
        type: string
        description: ''
      telephone_fi:
        type: string
        description: ''
      telephone_sv:
        type: string
        description: ''
      telephone_en:
        type: string
        description: ''
      contact_type:
        type: string
        description: ''
      street_address:
        type: object
        properties:
          fi:
            type: string
            description: address in Finnish
          sv:
            type: string
            description: address in Swedish
          en:
            type: string
            description: address in English
      address_locality:
        type: object
        properties:
          fi:
            type: string
            description: locality in Finnish
          sv:
            type: string
            description: locallity in Swedish
          en:
            type: string
            description: locality in English
      address_region:
        type: string
        description: ''
      postal_code:
        type: string
        description: ''
      post_office_box_num:
        type: string
        description: ''
      address_country:
        type: string
        description: ''
      deleted:
        type: boolean
        description: ''
      # Are these internal?
      lft:
        type: integer
        readOnly: true
        format: int64
        description: ''
      rght:
        type: integer
        readOnly: true
        format: int64
        description: ''
      tree_id:
        type: integer
        readOnly: true
        format: int64
        description: ''
      level:
        type: integer
        readOnly: true
        format: int64
        description: ''
      # End: possibly internal
      data_source:
        type: string
        description: ''
      created_by:
        type: string
        description: ''
      last_modified_by:
        type: string
        description: ''
      publisher:
        type: string
        description: ''
      parent:
        type: string
        description: ''

  keyword:
    description: Keyword structure
    type: object
    required:
    - id
    - name
    - data_source
    properties:
      id:
        type: string
        description: Consists of source prefix and source specific identifier
      name:
        type: object
        properties:
          fi:
            type: string
            description: Keyword in Finnish
          sv:
            type: string
            description: Keyword in Swedish
          en:
            type: string
            description: Keyword in English
      image:
        type: string
        description: ''
      origin_id:
        type: string
        description: ''
      created_time:
        type: string
        format: date-time
        description: ''
      last_modified_time:
        type: string
        format: date-time
        description: ''
      aggregate:
        type: boolean
        description: ''
      data_source:
        type: string
        description: Source of the keyword
      created_by:
        type: string
        description: ''
      last_modified_by:
        type: string
        description: ''
      alt_labels:
        type: array
        items:
          type: string
        description: ''

  language:
    type: object
    properties:
      id:
        type: string
        description: ''
      name:
        type: object
        properties:
          fi:
            description: Name of the language in Finnish
          se:
            description: Name of the language in Swedish
          en:
            description: Name of the language in English

  event:
    type: object
    properties:
      id:
        description: consists of source prefix and source specific identifier
        type: string
      location:
        description: location identifier, references location uri
        type: string
        readOnly: true
      keywords:
        description: array of keyword uri references
        type: array
        items:
          type: string
        readOnly: true
      super_event:
        description: references upper level event uri?
        type: string
        readOnly: true
      event_status:
        type: string
        description: ''
      external_links:
        type: array
        items:
          "$ref": '#/definitions/eventlink'
        description: ''
      offers:
        type: array
        items:
          "$ref": '#/definitions/offer'
        description: ''
      sub_events:
        type: array
        items:
          type: string
        readOnly: true
        description: ''
      custom_data:
        type: string
        description: ''
      name:
        type: object
        properties:
          fi:
            description: Name of the event in Finnish
            type: string
          se:
            description: Name of the event in Swedish
            type: string
          en:
            description: Name of the event in English
            type: string
      image:
        type: string
        description: ''
      origin_id:
        type: string
        description: ''
      created_time:
        type: string
        format: date-time
        description: ''
      last_modified_time:
        type: string
        format: date-time
        description: ''
      info_url:
        $ref: '#/definitions/info_url_definition'
      description:
        type: object
        properties:
          fi:
            description: Finnish description of the event
          se:
            description: Swedish description of the event
          en:
            description: English description of the event
      short_description:
        type: object
        properties:
          fi:
            description: short Finnish description of the event
          se:
            description: short Swedish description of the event
          en:
            description: short English description of the event
      date_published:
        type: string
        format: date-time
        description: ''
      headline:
        type: object
        properties:
          fi:
            description: Finnish headline for the event
          se:
            description: Swedish headline for the event
          en:
            description: English headline for the event        
      secondary_headline:
        type: object
        properties:
          fi:
            description: secondary Finnish headline for the event
          se:
            description: secondary Swedish headline for the event
          en:
            description: secondary English headline for the event        
      provider:
        type: object
        properties:
          fi:
            description: provider name in Finnish for the event
          se:
            description: provider name in Swedish for the event
          en:
            description: provider name in English for the event
      location_extra_info:
        type: object
        properties:
          fi:
            description: location extra info in Finnish for the event
          se:
            description: location extra info in Swedish for the event
          en:
            description: location extra info in English for the event
      start_time:
        type: string
        format: date-time
        description: ''
      end_time:
        type: string
        format: date-time
        description: ''
      audience:
        type: string
        description: ''
      lft:
        type: integer
        readOnly: true
        format: int64
        description: ''
      rght:
        type: integer
        readOnly: true
        format: int64
        description: ''
      tree_id:
        type: integer
        readOnly: true
        format: int64
        description: ''
      level:
        type: integer
        readOnly: true
        format: int64
        description: ''
      data_source:
        type: string
        description: ''
      created_by:
        type: string
        description: ''
      last_modified_by:
        type: string
        description: ''
      publisher:
        type: string
        description: ''

  offer:
    type: object
    properties:
      price:
        type: string
        description: ''
      price_fi:
        type: string
        description: ''
      price_sv:
        type: string
        description: ''
      price_en:
        type: string
        description: ''
      info_url:
        $ref: '#/definitions/info_url_definition'
      description:
        type: string
        description: ''
      description_fi:
        type: string
        description: ''
      description_sv:
        type: string
        description: ''
      description_en:
        type: string
        description: ''
      is_free:
        type: boolean
        description: ''
  
  eventlink:
    type: object
    properties:
      name:
        type: string
        description: ''
      link:
        type: string
        description: ''
      language:
        type: string
        description: ''

paths:
  /keyword/:
    get:
      summary: Returns list of keywords used for describing events
      operationId: keyword_list
      responses:
        200:
          description: List of keywords
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/meta_definition'
              data:
                type: array
                items:
                  $ref: '#/definitions/keyword'
              
  /keyword/{pk}/:
    get:
      summary: Return information for single keyword
      operationId: keyword_retrieve
      responses:
        200:
          description: Keyword record
          schema:
            $ref: '#/definitions/keyword'
      parameters:
      - type: string
        in: path
        name: pk
        required: true
        
  /place/:
    get:
      summary: Returns list of places used for describing events
      operationId: place_list
      responses:
        200:
          description: List of places
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/meta_definition'
              data:
                type: array
                items:
                  $ref: '#/definitions/place'

  /place/{id}/:
    get:
      summary: Return information for single place
      operationId: place_retrieve
      responses:
        200:
          description: Place record
          schema:
            $ref: '#/definitions/place'
      parameters:
      - type: string
        in: path
        name: id
        required: true
        description: Id as defined in place model

  /language/:
    get:
      summary: Return a list of languages used for describing events
      description: 'A long description here'
      operationId: language_list
      responses:
        200:
          description: Language list
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/meta_definition'
              data:
                type: array
                items:
                  $ref: '#/definitions/language'

  /language/{id}/:
    get:
      summary: Return information for single language
      description: 'A long description here'
      operationId: language_retrieve
      responses:
        200:
          description: Language record
          schema:
            $ref: '#/definitions/language'
      parameters:
      - type: string
        in: path
        name: id
        required: true

  /event/:
    get:
      summary: Return a list of events
      description: |-
        <h2 id="filtering-retrieved-events">Filtering retrieved events</h2>
        <p>Query parameters can be used to filter the retrieved events by
        the following criteria.</p>
        <h3 id="event-time">Event time</h3>
        <p>Use <code>start</code> and <code>end</code> to restrict the date range of returned events.
        Any events that intersect with the given date range will be returned.</p>
        <p>The parameters <code>start</code> and <code>end</code> can be given in the following formats:</p>
        <ul>
        <li>ISO 8601 (including the time of day)</li>
        <li>yyyy-mm-dd</li>
        </ul>
        <p>In addition, <code>today</code> can be used as the value.</p>
        <p>Example:</p>
        <pre><code>event/?start=2014-01-15&amp;end=2014-01-20
        </code></pre>
        <p><a href="?start=2014-01-15&amp;end=2014-01-20" title="json">See the result</a></p>
        <h3 id="event-location">Event location</h3>
        <h4 id="bounding-box">Bounding box</h4>
        <p>To restrict the retrieved events to a geographical region, use
        the query parameter <code>bbox</code> in the format</p>
        <pre><code>bbox=west,south,east,north
        </code></pre>
        <p>Where <code>west</code> is the longitude of the rectangle's western boundary,
        <code>south</code> is the latitude of the rectangle's southern boundary,
        and so on.</p>
        <p>Example:</p>
        <pre><code>event/?bbox=24.9348,60.1762,24.9681,60.1889
        </code></pre>
        <p><a href="?bbox=24.9348,60.1762,24.9681,60.1889" title="json">See the result</a></p>
        <h2 id="getting-detailed-data">Getting detailed data</h2>
        <p>In the default case, keywords, locations, and other fields that
        refer to separate resources are only displayed as simple references.</p>
        <p>If you want to include the complete data from related resources in
        the current response, use the keyword <code>include</code>. For example:</p>
        <pre><code>event/?include=location,keywords
        </code></pre>
        <p><a href="?include=location,keywords" title="json">See the result</a></p>
        <h2 id="response-data-for-the-current-url">Response data for the current URL</h2>
      operationId: Event_list
      responses:
        200:
          description: List of events
          schema:
            type: array
            items:
              $ref: '#/definitions/event'
      parameters:
      - name: start
        in: query
        type: string
        format: date
        description: Search start date
      - name: end
        in: query
        type: string
        format: date
        description: Search end date
      - name: bbox
        in: query
        type: array
        items:
          type: string
        minItems: 4
        maxItems: 4
      - name: include
        in: query
        type: array
        items:
          type: string
        description: Embed the data fields sent in this parameter

    post:
      summary: Create a new event
      operationId: event_create
      # FIXME, this is not a response, just a placeholder for schema 
      responses:
        200:
          description: FIXME
          schema:
            $ref: '#/definitions/event'
      parameters:
      - type: string
        in: formData
        name: id
        required: true
        description: ''
      - type: string
        in: formData
        name: event_status
        required: true
        description: ''
      - type: string
        in: formData
        name: external_links
        required: true
        description: ''
      - type: string
        in: formData
        name: offers
        required: true
        description: ''
      - type: string
        in: formData
        name: custom_data
        description: ''
      - type: string
        in: formData
        name: name
        required: true
        description: ''
      - type: string
        in: formData
        name: name_fi
        description: ''
      - type: string
        in: formData
        name: name_sv
        description: ''
      - type: string
        in: formData
        name: name_en
        description: ''
      - type: string
        in: formData
        name: image
        description: ''
      - type: string
        in: formData
        name: origin_id
        description: ''
      - type: string
        in: formData
        name: created_time
        format: date-time
        description: ''
      - type: string
        in: formData
        name: last_modified_time
        format: date-time
        description: ''
      - type: string
        in: formData
        name: info_url
        description: ''
      - type: string
        in: formData
        name: info_url_fi
        description: ''
      - type: string
        in: formData
        name: info_url_sv
        description: ''
      - type: string
        in: formData
        name: info_url_en
        description: ''
      - type: string
        in: formData
        name: description
        description: ''
      - type: string
        in: formData
        name: description_fi
        description: ''
      - type: string
        in: formData
        name: description_sv
        description: ''
      - type: string
        in: formData
        name: description_en
        description: ''
      - type: string
        in: formData
        name: short_description
        description: ''
      - type: string
        in: formData
        name: short_description_fi
        description: ''
      - type: string
        in: formData
        name: short_description_sv
        description: ''
      - type: string
        in: formData
        name: short_description_en
        description: ''
      - type: string
        in: formData
        name: date_published
        format: date-time
        description: ''
      - type: string
        in: formData
        name: headline
        description: ''
      - type: string
        in: formData
        name: headline_fi
        description: ''
      - type: string
        in: formData
        name: headline_sv
        description: ''
      - type: string
        in: formData
        name: headline_en
        description: ''
      - type: string
        in: formData
        name: secondary_headline
        description: ''
      - type: string
        in: formData
        name: secondary_headline_fi
        description: ''
      - type: string
        in: formData
        name: secondary_headline_sv
        description: ''
      - type: string
        in: formData
        name: secondary_headline_en
        description: ''
      - type: string
        in: formData
        name: provider
        description: ''
      - type: string
        in: formData
        name: provider_fi
        description: ''
      - type: string
        in: formData
        name: provider_sv
        description: ''
      - type: string
        in: formData
        name: provider_en
        description: ''
      - type: string
        in: formData
        name: location_extra_info
        description: ''
      - type: string
        in: formData
        name: location_extra_info_fi
        description: ''
      - type: string
        in: formData
        name: location_extra_info_sv
        description: ''
      - type: string
        in: formData
        name: location_extra_info_en
        description: ''
      - type: string
        in: formData
        name: start_time
        format: date-time
        description: ''
      - type: string
        in: formData
        name: end_time
        format: date-time
        description: ''
      - type: string
        in: formData
        name: audience
        description: ''
      - type: string
        in: formData
        name: data_source
        required: true
        description: ''
      - type: string
        in: formData
        name: created_by
        description: ''
      - type: string
        in: formData
        name: last_modified_by
        description: ''
      - type: string
        in: formData
        name: publisher
        required: true
        description: ''

